.searchSection {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;

  mat-form-field {
    flex: 1;
    min-width: 200px;
  }

  button {
    height: 56px; 
    align-self: flex-start;
  }
}
